<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <!--        <typeAlias type="com.tydic.pojo.UserInformation" alias="UInf"/>-->
        <package name="com.tydic.pojo"/>
        <!--        注意：只有扫描包后才可以使用注解-->
    </typeAliases>
<!--    <mappers>-->
<!--        <package name="com.tydic.mapper"/>-->
<!--    </mappers>-->


</configuration>