<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

<!--    开启@Component的支持-->
    <context:component-scan base-package="com.tydic.log"/>
    <!--注解驱动-->
    <context:annotation-config/>
    <bean id="if1Impl" class="com.tydic.pojo.iF1Impl"/>

<!--    无用-->
<!--    <bean id="if1" class="com.tydic.pojo.iF1"/>-->

<!--    <bean id="beforLog" class="com.tydic.log.BeforeLog"/>-->
<!--    <bean id="afterLog" class="com.tydic.log.AfterLog"/>-->

<!--    <bean id="log" class="com.tydic.log.log"/>-->

<!--    <bean id="annotationLog" class="com.tydic.log.AnnotationLog"/>-->
    <aop:aspectj-autoproxy/>
<!--    注意开启支持-->

<!--    方法一-->
<!--    <aop:config>-->
<!--&lt;!&ndash;        有严格的层次要求&ndash;&gt;-->
<!--        <aop:pointcut id="pointcut1" expression="execution(* com.tydic.pojo.*.*(..))"/>-->

<!--        <aop:advisor advice-ref="afterLog" pointcut-ref="pointcut1"/>-->
<!--        <aop:advisor advice-ref="beforLog" pointcut-ref="pointcut1"/>-->
<!--    </aop:config>-->

<!--    方法二-->
<!--    <aop:config>-->
<!--        <aop:aspect ref="log">-->
<!--            <aop:pointcut id="pointcut2" expression="execution(* com.tydic.pojo.*.*(..))"/>-->
<!--            <aop:before method="before" pointcut-ref="pointcut2" />-->
<!--            <aop:after-returning method="after" pointcut-ref="pointcut2" />-->
<!--        </aop:aspect>-->
<!--    </aop:config>-->
</beans>