<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userdaoimpl" class="com.tydic.dao.UserDaoImpl"/>
    <bean id="userdaomysqlimpl" class="com.tydic.dao.UserDaoMysqlImp"/>
    <bean id="userserviceImpl" class="com.tydic.service.UserServiceImpl">
        <property name="userDao" ref="userdaomysqlimpl"></property>
    </bean>


</beans>